h3 {
    text-align: center;
}

strong {
font-weight: 900;
color: black !important;
}

.js-slide-wrapper > .header .single-pagination {
    display: none;
}

#actividad .workspace.matching .opcion {
    border: 0px solid #ef8007;
    margin: 4px 0;
    padding: 5px;
    background: #fac592;
}

.content_type_clase_panamericana2020 #actividad .content .header .title h3 {
    color: #DA812D;
}

.bck-title1, .bck-title-activity {
    background: #fac592;
}

.bck-enfasis, strong {
    color: #ffffff;
    font-weight: bold;
}

.content_type_clase_panamericana2020 .logo-publisher {
    background-image: url(https://admin.blinklearning.com/useruploads/r/a/126184596/activity_other_imported/LOGO-PANAMERICANA-ok.png);
    height: 50px;
    width: 400px;
    margin-left: -100px;
    margin-right: -100px;
}

.content_type_clase_panamericana2020 .publisher-navbar .dropdown button, .content_type_clase_panamericana2020 .publisher-navbar li {
    background: #da812d;
}

.content_type_clase_panamericana2020 .publisher-navbar .dropdown button {
    color: #ffffff;
}

.content_type_clase_panamericana2020 .publisher-navbar .dropdown .caret {
    border-color: #ffffff transparent transparent
}

.rf-wordcontainer {
    font-family: Raleway;
    font-size: 2rem;
    font-weight: bold;
    line-height: 7rem;
}

.rf-tgrid {
    font-family: raleway;
    font-weight: bold;
    font-size: 1.5rem;
}

.content_type_clase_panamericana2020 .publisher-navbar .dropdown li a {
    color: #da812d;
}

.content_type_clase_panamericana2020 .slider-indicators li.active, .content_type_clase_panamericana2020 .publisher-navbar li:hover {
    background: #da812d;
}

.dropdown-menu>li>a:hover,
 .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #da812d;
}

.content_type_clase_panamericana2020 .publisher-navbar li:hover {
    background-color: #da812d;
}

/*seccion*/

.centro h3 {
    text-align: center;
}

/*seccion*/

#actividad .carousel-inner .act1 .item-container.aux-fullscreen .class_slide, 
#actividad .carousel-inner .act1 .item-container.aux-bckg .class_slide {
    position: relative;
     background-color: #fbd3ad00; 
}

/*seccion*/

.act1 h3 {
text-align: left;
}

@media screen and (max-width: 768px) {
 img {
display: none !important;
}
}

#actividad .carousel-inner .item-container.aux-bckg.is-right .class_slide {
    margin-left: 30px;
    margin-bottom: 70px;
    padding-bottom: 30px;
}

.content_type_clase_panamericana2020 .publisher-navbar li {
    color: #da812d;
    background: transparent;
    opacity: 100;
}

.content_type_clase_panamericana2020 .slider-indicators li.active, .content_type_clase_panamericana2020 .publisher-navbar li:hover {
    background: #da812d;
    color: #fff;
    border-radius: 10px;
}

.dropdown-menu>li>a:hover,
 .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #da812d;
    color: #fff !important;
}

.content_type_clase_panamericana2020 .publisher-navbar .dropdown button {
    color: #ffffff;
    border-radius: 10px;
}

.content_type_clase_panamericana2020 .publisher-navbar {
    background-image: url(/useruploads/ctx/a/126041106/r/s/32740936/Fondo-Mitos-y-Leyendas.jpg);
}

.content_type_clase_panamericana2020 .slider-indicators {
    background-color: transparent;
}


/*TOC*/

/*Pastillas menu*/

#indice .units ul li {
    border-radius: 0px;
     background: #F36F23;
     color: #fff;
}

#indice .units ul li.active:not(.disabled), 
body:not(.isTablet) #indice .units ul li:hover:not(.disabled), 
#indice .units ul li:focus:not(.disabled) {
    background: transparent;
    color: #F36F23 !important;
    outline: 3px solid #F36F23;
    outline-offset: -3px;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title, 
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    color: #F36F23;
}

#indice .units ul li a .title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: -21px 0 0 35px;
    line-height: 18px;
    display: block;
}

.foro_wiki_cke_text ul li:before, .texto_curso ul li:before, .workspace:not(.test) ul li ul li:before, .cke_contents ul li:before, .preview ul li:before, .classify-item ul li:before, .popover-template .popover-content ul li:before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #da812d;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-top: .4em;
    margin-left: -24px;
}

.btn-primary, .btn-primary.disabled {
    color: #fff;
    background-color: #f36f23;
    border-color: transparent;
    opacity: 1;
}

#indice .unit-content .header .title {
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    line-height: 34px;
    margin: 20px 140px 20px 30px;
    overflow: hidden;
    z-index: 1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #000000a8;
    border-radius: 17px;
    padding: 7px;
    margin-left: -15px;
    padding-left: 65px;
    margin-top: 50px;
}

/*caja 1*/
.bck-box.box-1 {
    border: 2px solid #DA812D;
    padding: 40px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
}

/*título slide*/
.content_type_clase_panamericana2020 #actividad .content .header .title h3:before {
    content: " ";
    width: 100px;
    padding: 5px;
    position: absolute;
    margin-top: 40px;
    border-bottom: 5px solid;
}

/*imagen aux*/
#actividad .carousel-inner .item-container.aux-fullscreen .class_slide, 
#actividad .carousel-inner .item-container.aux-bckg .class_slide {
    position: relative;
    background-color: #ffffffe6;
    padding-right: 20px;
    padding-bottom: 0;
    margin-right: 0;
}

/*test*/
#actividad .workspace.test .respuestas li {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.content ol li, .cke_contents ol li {
    counter-increment: bck-li-counter 1;
    position: relative;
    padding-left: 32px;
    font-family: 'Raleway';
    font-size: 18px;
}

.workspace.test {
    text-align: initial;
    padding-left: 30px;
}

actividad .workspace label {
    font-weight: normal;
    font-size: 18px;
}

.content ol li:before, .cke_contents ol li:before {
    content: counter(bck-li-counter)' . ';
    position: absolute;
    margin-left: -30px;
    font-weight: bold;
    font-size: 2.0rem;
    text-align: right;
    color: #DA812D;
    margin-top: -2px;
}


/*Botones*/
.btn-danger, .btn-danger[disabled] {
    color: #DA812D;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
   border-radius: 0px;
  box-shadow: none;
    text-shadow: none;
}

.btn-danger:hover,
 .btn-danger:focus,
 .btn-danger:active,
 .btn-danger.active,
 .open .dropdown-toggle.btn-danger {
    color: #DA812D;
    background-color: #fff;
    border-color: #DA812D;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background-size: 100% 2px;
  box-shadow: none;
    text-shadow: none;
}

/*reiniciar*/
.btn-primary, .btn-primary.disabled {
    border-bottom: transparent;
    border-top: transparent;
    border-right: transparentx;
    border-left:transparent;
     color: #DA812D;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
   border-radius: 0px;
  box-shadow: none;
    text-shadow: none;
}

.btn-primary:not([disabled]):hover, .btn-primary:not([disabled]):focus, .btn-primary:not([disabled]):active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #DA812D;
    background-color: #fff;
    border-color: #DA812D;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background-size: 100% 2px;
   box-shadow: none;
    text-shadow: none;
}

.btn-primary[disabled], .btn-primary[disabled]:focus {
    color: #DA812D;
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

/*solución*/

.btn-solution, .btn-solution.disabled, 
.btn-solution[disabled],
.btn-next,
 .btn-next.disabled,
 .btn-next[disabled] {
     border-bottom: transparent;
    border-top: transparent;
    border-right: transparentx;
    border-left:transparent;
     color: #DA812D;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
   border-radius: 0px;
   box-shadow: none;
    text-shadow: none;
}

.btn-solution:hover, .btn-solution:focus, .btn-solution:active, .btn-next:hover, .btn-next:focus, .btn-next:active, .open .dropdown-toggle.btn-solution {
      color: #DA812D;
    background-color: #fff;
    border-color: #DA812D;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background-size: 100% 2px;
   box-shadow: none;
    text-shadow: none;
}


/*slider*/
.navigator .slider-control.left, .navigator .slider-control.right {
    color: #595959;
}

.navigator .slider-control.left:before, .navigator .slider-control.right:after {
    font-family: 'FontAwesome';
    position: absolute;
    margin-top: 0;
    background: none;
    color: #666;
    border-radius: 120px;
    width: 20px;
    height: 20px;
    line-height: 48px;
    text-align: center;
    font-size: 22px;
}

/*contador*/
#actividad .content .review .attemps span {
    font-size: 40px;
    width: auto;
    height: auto;
    font-weight: lighter;
    color: #595959;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 0px 5px;
    margin: 0px;
    display: inline-block;
    line-height: normal;
}

/*barra de botones*/

#actividad .content .review .attemps {
    font-size: 16px;
    display: block;
    text-align: right;
}

.main-navigator {
    padding: 30px 0px 50px;
    width: 100%;
    display: none;
}

#actividad .class_slide .review {
    margin-top: 50px;
    text-align: center;
    text-align: left;
}

/*actividad verdadero/false*/

#actividad .workspace.true-false li {
    font-size: 16px;
}

#actividad .workspace.true-false .tf-option {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.checkbox-option input.filter-checkbox[type="checkbox"]+label.filter-label, .radio-option input.filter-radio[type="radio"]+label.filter-label {
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    padding-left: 23px;
    vertical-align: middle;
    font-size: 16px;
    font-family: "raleway";
}

/*navbar*/
#top-navigator.show_right:after {
    background: linear-gradient(to left, #e0963947, transparent);
}

#top-navigator.show_left:before, #top-navigator.show_right:after {
    color: #e09639;
    top: 0px;
}

.bck-enfasis {
    color: #595959;
    font-size: 14px;
    font-weight: bold;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    background: #fff;
}

#actividad .workspace.multiplechoice_horizontal .opcion {
    display: inline-block;
    margin: 10px;
    padding: 0 10px;
}

/*------ CAMBIOS NAVBAR ------*/
.content_type_clase_panamericana2020 .publisher-navbar {
    background-image: url(/useruploads/r/a/206166618/activity_other_imported/Header-Navbar_1400_65.jpg);
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
}
@media (max-width: 650px) {
.content_type_clase_panamericana2020 .publisher-navbar {
    background: #D3D3D3;
  }
}
/*Logo en responsive*/
@media (max-width: 560px) {
.content_type_clase_panamericana2020 .logo-publisher {
    display: none;
  }
}